<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
</head>
<body>
<form method="post" action="/addCourse" name="addCourse_form">
Alias: <input type="text" name="alias"><br>
Name: <input type="text" name="name"><br>
CourseCurriculum: <input type="text" name="courseCurriculum"><br>
Description: <input type="text" name="description"><br>
Fees: <input type="text" name="fees"><br>
Maxsessions: <input type="text" name="maxsessions"><br>
Minsessions: <input type="text" name="minsessions"><br>
Seats: <input type="text" name="seats"><br>
Start-Date: <input type="text" name="startDate"><br>
End-Date: <input type="text" name="endDate"><br>
<input type="submit" name="submit">	
</form>
</body>
</html>